<div style="width: 100%; padding: 20px">

    <ag-grid-angular style="width: 100%; padding-right: 20px; height: 650px;" class="ag-theme-alpine"
                     [columnDefs]="columnDefs"
                     [rowData]="rowData"
                     [components]="components"
                     [modules]="modules"

                     [enableCharts]="true"
                     [enableRangeSelection]="true"

                     [suppressRowClickSelection]="true"
                     [rowSelection]="'multiple'"

                     (gridReady)="onGridReady($event)"
                     (modelUpdated)="onModelUpdated()"
                     (cellClicked)="onCellClicked($event)"
                     (cellDoubleClicked)="onCellDoubleClicked($event)"
                     (cellContextMenu)="onCellContextMenu($event)">
    </ag-grid-angular>
</div>
